body {
    font-family: 'Open Sans', sans-serif;
    line-height: 25px;
}

#wrapper {
    width: 100%;
    background: transparent;
}

#page-wrapper {
    padding: 0;
    min-height: unset;
    background: transparent;
}

#page-inner {
    width: 100%;
    margin: 10px 20px 10px 0px;
    background-color: #fff !important;
    padding: 10px;
    min-height: 1200px;
}

.page-head-line {
    font-size: 30px;
    text-transform: uppercase;
    color: #000;
    font-weight: 800;
    padding-bottom: 20px;
    border-bottom: 2px solid #00CA79;
    margin-bottom: 10px;
}

.page-subhead-line {
    font-size: 14px;
    padding-top: 5px;
    padding-bottom: 20px;
    font-style: italic;
    margin-bottom: 30px;
    border-bottom: 1px dashed #00CA79;

}


/*==============================================
    MENU STYLES    
    =============================================*/


/* Topbar brand — overridden by modern.css */
.navbar-cls-top .navbar-brand:hover {
    color: inherit;
}

.user-img-div {
    min-height: 140px;
    padding: 20px;
    background-color: #4380B8;
}

.user-img-div img {
    max-height: 60px;
}

.user-img-div .inner-text {
    text-align: right;
    position: relative;
    color: #fff;
    font-weight: 800;
    line-height: 25px;
}

.active-menu {
    background-color: #00CA79 !important;
}

.active-menu-top {
    background-color: #000 !important;
}

.arrow {
    float: right;
}

.fa.arrow:before {
    content: "\f104";
}

.active>a>.fa.arrow:before {
    content: "\f107";
}


.nav-second-level li,
.nav-third-level li {
    border-bottom: none !important;
}

.nav-second-level li a {
    padding-left: 37px;
}

.nav-third-level li a {
    padding-left: 55px;
}

.sidebar-collapse,
.sidebar-collapse .nav {
    background: none;
}

.sidebar-collapse .nav {
    padding: 0;
}

/* Sidebar nav links — overridden by modern.css */
.sidebar-collapse .nav>li>a {
    background: none;
    border-bottom: none;
}

.sidebar-collapse>.nav>li>a {
    padding: 11px 14px;
}

.sidebar-collapse .nav>li>a:hover,
.sidebar-collapse .nav>li>a:focus {
    outline: 0;
}

.navbar-side {
    border: none;
    background-color: transparent;
}

.navbar-cls-top {
    border-bottom: none;
}


.navbar-default {
    border: 0px solid black;
}

.navbar-header {
    background: #000000;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #00CA79;
}

.navbar-default .navbar-toggle {
    border-color: #fff;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #FFF;
}

.nav>li>a>i {
    margin-right: 10px;
}

/*==============================================
    FOOTER  STYLES    
    =============================================*/
#footer-sec {
    background-color: #000;
    padding: 20px 50px;
    color: #fff;
    font-size: 12px;
}

#footer-sec a {
    color: #fff;
}

#footer-sec a:hover,
a:focus {
    color: #fff;
    text-decoration: none;
}

/*==============================================
    MEDIA QUERIES     
    =============================================*/

@media (min-width:768px) {

    /* Sidebar handled by modern.css */
    .navbar {
        border-radius: 0px;
    }
}